<table id="groups">
  <thead>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Description</th>
  </tr>
  <thead>
  <tbody>
  <% for group in @groups %>
    <tr>
      <td><%= group.name %></td>
      <td><%= group.user_id %></td>
      <td><%= group.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to "New Group", new_group_path %></p>
