/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require dataTables/jquery.dataTables
 *= require bootstrap_and_overrides
 *= require_self
 *= require commen
 *= require sign 
 *= require user
 */
 body{
 	background: #777 url('bg.jpg') no-repeat;
 }
 label{
 	display: inline;
 }
 .navbar{
 	margin: 50px auto 0 50px;
 }
 #logo{
 	font-size: 2.0em;
 	margin-right: 150px;
 	letter-spacing: 2px;
 }
 .navbar a{
 	margin-right: 30px;
 	font-size: 1.2em;
 	color: white !important;
 }
 header hr{
 	margin-top: 10px auto;
 }

 
 /*团队index页面*/
 #groups{
 	border:1px solid #DDD;
 }
 #groups_length{
 	float: left;
 }

 #groups_filter{
 	float:right;
 }

.debug_dump{
	margin-top: 200px;
}