/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require dataTables/jquery.dataTables
 *= require_tree .
 */
 body{
 }

 /*注册，登录，创建团队*/
 form{
 	margin:0 !important;
 }
 select{
 	display: block !important;
 }
 #sign-form, #team-form{
 	width: 500px;
 	margin: auto;
 	border:1px solid #E1E1E1;
 	border-radius: 10px;
 }
 #sign-form input[type=password], #sign-form input[type=email]{
 	width: 240px;
 	height: 18px;
 	margin-bottom: 10px;
 	padding: 11px 12px 9px 12px;
 	background-color: white;
 	border: 1px solid #E1E1E1;
 	border-radius: 2px;
 	font-size: 20px;
 	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
 }
 .fenge{
 	margin:auto 5px;
 }
 #sign-form label, #team-form label{
 	display: none;
 }
 .error{
 	color: red;
 	display: inline !important;
 }

 /*团队index页面*/
 #groups{
 	border:1px solid #DDD;
 }
 #groups_length{
 	float: left;
 }

 #groups_filter{
 	float:right;
 }