/*个人主页*/
.row-fluid{
	margin: 20px auto;
}
.span4, .span8{
	background: white;
	border-radius: 10px;
	padding: 30px;
}
input #user_avatar{
	width: 75px;
	overflow: hidden;
	margin-right: 20px;
	background-color: rgb(0, 68, 204);
}
#user_info{
	padding-bottom: 80px;
}
